/* Reset some default styles and set basic styles for the body and header */
:root {
    --text-color: #ebebeb;
}

body {
    background-color: #1d222b;
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

/* Style for the logo */
.logo img {
    max-width: 250px;
}

/* Style for the navigation bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

/* Style for the "How to use" link */
nav ul li a {
    color: var(--text-color);
    text-decoration: underline;
}

/* On hover, change link color */
nav ul li a:hover {
    color: #da5c62; /* Change hover color */
}
