/* Reset some default styles and set basic styles for the body and header */
:root {
    --text-color: #ebebeb;
}

body {
    background-color: #1c2331;
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 65px;
}

/* Style for the logo */
.logo img {
    max-width: 250px;
}

/* Style for the "How to use" link */
nav ul li a {
    color: var(--text-color);
    text-decoration: underline;
}

/* On hover, change link color */
nav ul li a:hover {
    color: #da5c62; /* Change hover color */
}

/* Add padding and spacing for the image gallery */
#image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; /* Adjust the gap to control spacing between images */
    margin: 50px
}

/* Style for images */
#image-gallery img {
    max-width: 100%; 
    max-height: 100%;
    border-radius: 5px; /* Rounded corners */
    height: 180px;
    display: block;
    transition: opacity 0.3s;
}

#image-gallery img:hover {
    opacity: 0.8; /* Reduce opacity on hover */
}

/* Style for animated images with an orange border */
.animated-image {
    border: 2px solid orange;
}

/* Style for checkboxes */
#image-source-switches {
    margin-left: 50px;
    
}

/* Style for the "Refresh Images" button */
#retrieve-button {
    margin-right: 50px;
    background-color: #4c87af;
    color: white; 
    padding: 12px 20px;
    border-radius: 5px; 
    transition: opacity 0.3s;
}

#retrieve-button:hover {
    opacity: 0.9;
}

/* Style for the "Refresh Images" button when it's disabled */
#retrieve-button:disabled {
    background-color: #ccc;
    color: #888; /* Change the text color to a lighter shade */
    cursor: not-allowed; /* Change the cursor to 'not-allowed' to indicate it's disabled */
    opacity: 0.6; /* Reduce opacity to make it appear less prominent */
}

/* Style for the row of checkboxes and button */
#control-row {
    margin-top: 25px;
    display: flex; /* Use flex layout to place items in a row */
    align-items: center; /* Vertically align items */
    justify-content: space-between;
}

/* Style for searchbar */
#search-bar {
    text-align: center; /* Center the contents horizontally */
    margin-top: 20px; /* Add some top margin for spacing */
}

#search-input {
    padding: 10px; /* Increase padding for height and width */
    width: 300px; /* Set the width of the input field */
    font-size: 16px; /* Increase the font size */
    border-radius: 8px; /* Rounded corners */
}

#search-button {
    padding: 10px 20px; /* Increase padding for height and width */
    font-size: 16px; /* Increase the font size */
    border-radius: 8px; /* Rounded corners */
    transition: opacity 0.3s;
}

#search-button:hover {
    opacity: 0.8; /* Reduce opacity on hover */
}

/* Style for autofill list */
#autofill-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    max-height: 280px;
    overflow-y: auto;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#autofill-list li {
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#autofill-list li:hover {
    background-color: #283144;
}

/* Tutorial.html */
#tutorial-content {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

code {
    background-color: #284155;
    padding: 2px 5px;
    font-family: 'Courier New', monospace;
}

a {
    color: #da5c62;
}

.important {
    font-weight: bold;
    color: #e65b5b; /* Red color for emphasis */
}